.wrapper {
    display: grid;
    margin: 0 auto;
    grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr;
    grid-gap: 60px;
    box-sizing: border-box;
}

.wrapper div {
    color: #000;
    border-radius: 5px;
}

/*---------------------------------------------------------*/

body {
    margin: 100px 120px;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
}

h1 {
    font-weight: 700;
    display: block;
    color: #1E1E1E;
    margin-bottom: 1.35rem;
    z-index: 99999;
}

.line-title {
    border-bottom: 4px solid #000;
    height: 1.65rem;
}

.line-title span {
    background: #fff;
    padding-right: 60px;
}

li {
    position: relative;
    z-index: 99999;
    grid-column-start: 2;
    grid-column-end: 4;
}

a {
    color: #1E1E1E;
    text-decoration: none;
}

a:hover {
    color: blue;
}

.underlinedtext {
    border-bottom: 4px solid #1E1E1E;
    display: inline;
}

.intro, .contact {
    grid-column-start: 2;
    grid-column-end: 4;
    z-index: 99999;
}

.work_header, .contact_header {
    height: auto;
    grid-column-start: 1;
    grid-column-end: 2;
}

.work, .contact {
    height: auto;
    grid-column-start: 2;
    grid-column-end: 4;
}

.backgroundimage {
    z-index: 0;
    position: fixed;
        top: 100px;
        right: 120px;
    width: 45%;
    height: auto;
    text-align: right;
}

.copyright {
    position: relative;
        bottom: -80px;
    grid-column-start: 2;
    grid-column-end: 4;
}

.preview {
    position: fixed;
}
/*
PROJECT PAGE STYLES
*/

.arrow {
    position: fixed;
        top: 30px;
    font-size: 2.8rem;
}

.projecttitle {
    position: fixed;
    grid-column-start: 1;
    grid-column-end: 1;
}

.projecttitle h1 {
    font-weight: 700;
    margin-bottom: 0;
    width: 100%;
}

.projectinfo h2 {
    font-weight: 700;
    margin-top: 3.0rem;
}

.projectinfo h2:first-child{
    margin-top: 0;
}

.projectinfo {
    grid-column-start: 2;
    grid-column-end: 4;
    font-size: 2.0rem;
}

.projectinfo p {
    font-size: 1.6rem;
    line-height: 2.5rem;
    margin: 1.2rem 0;
}

.projectinfo p a {
    font-weight: 700;
}

.projectinfo img, iframe {
    width: 100%;
    margin-top: 3.0rem;
}

.projectinfo .smallimg {
    width: 50%;
    transform: translateX(50%);
}

.videocontainer {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 6.0rem;
 }

 .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
 }

.collaborators, .contributions {
    margin-top: 3.0rem;
    line-height: 3.0rem;
}

.collaborators h3, .contributions h3 {
    font-size: 2.0rem;
    font-weight: 700;
}

.collaborators p , .contributions p{
    font-size: 1.6rem;
    line-height: 2.5rem;
}

/*
END OF PROJECT PAGE STYLES
*/

@media only screen and (max-width: 1800px) {
    body {
        font-size: 2.0rem;
        line-height: 2.8rem;
    }

    .discipline, .completion-date {
        font-size: 1.6rem;
        line-height: 2.5rem;
    }
}

@media only screen and (max-width: 1550px) {
    .wrapper {
        display: grid;
        margin: 0 auto;
        grid-template-columns: [line1] 1fr [line2] 1fr [line3] 1fr;
        grid-gap: 45px;
        box-sizing: border-box;
    }

    .line-title {
        height: 1.2rem;
    }

    .line-title span {
        background: #fff;
        padding-right: 30px;
    }

    body, .discipline, .completion-date, 
    .collaborators h3, .collaborators p, 
    .contributions h3, .contributions p, 
    .projectinfo h2, .projectinfo p {
        font-size: 1.6rem;
        line-height: 2.6rem;
    }

    .projectinfo p {
        font-size: 1.6rem;
        line-height: 2.6rem;
        margin: 1.0rem 0;
    }

    .projectinfo h2 {
        border-bottom: 2px solid #000;
        padding-bottom: 16px;
        width: 30px;
        white-space: nowrap;
    }

}

@media only screen and (max-width: 1000px) {
    body {
        margin: 50px 60px;
    }

    .line-title {
        border-bottom: 2px solid #000;
        height: 1.0rem;
    }

    .line-title span {
        background: #fff;
        padding-right: 45px;
    }

    .arrow {
        position: fixed;
            top: 15px;
        font-size: 1.8rem;
    }

    body, .discipline, .completion-date, 
    .collaborators h3, .collaborators p, 
    .contributions h3, .contributions p, 
    .projectinfo h2, .projectinfo p {
        font-size: 1.2rem;
        line-height: 2.0rem;
    }

    .projectinfo p {
        margin: 1.0rem 0;
    }
}

@media only screen and (max-width: 700px) {
    .wrapper {
        display: block;
    }

    body {
        margin: 40px 30px;
        font-size: 1.0rem;
        line-height: 1.6rem;
    }

    .arrow {
        position: static;
        margin-bottom: 30px;

    }

    .line-title {
        border: none;
    }

    .intro, .work {
        margin-bottom: 2.0rem;
    }

    .projecttitle {
        position: relative;
    }    

    .discipline, .completion-date, 
    .collaborators h3, .collaborators p, 
    .contributions h3, .contributions p, 
    .projectinfo h2, .projectinfo p {
        font-size: 1.0rem;
        line-height: 1.6rem;
    }

    .collaborators, .contributions {
        margin-top: 20px;
    }

    .projecttitle div:last-child, .projectinfo p:last-child {
        border-bottom: 2px solid #000;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-radius: 0;
    }
}