@font-face {
  font-family: "Epilogue";
  src: url("Epilogue[wght].woff2") format("woff2-variations");
  font-weight: 125 950;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: "Epilogue Italic";
  src: url("Epilogue-Italic[wght].woff2") format("woff2-variations");
  font-weight: 125 950;
  font-style: oblique 0 20;
}

html {
  font-size: 16px;
}

@media screen {
body {
  font-family: 'Epilogue', sans-serif;
  --gap-size: 48px;
  --primary-text: #000;
  --secondary-text: #4a4a4a;
  --tertiary-text: #8a8a8a;
  --page-margins: 48px;
}

/*---------NAV BAR---------*/
#nav {
  width: 100%;
  border-bottom: 0.5px solid #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 24px 48px;
}

.navlinks {
  display:inline-block;
  width: 120px;
  font-size: 0.9rem;
  font-variation-settings: 'wght' 400;
}

.name {
  font-variation-settings: 'wght' 400;
}

#right_nav {
  text-align: right;
  float: right;
}


/*---------ABOUT PAGE---------*/
#bio {
  margin: var(--page-margins);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-size);
}

#bio p {
  grid-column: span 3;
  font-size: 1.5rem;
  line-height: 2.5rem;
  font-variation-settings: 'wght' 400;
}

#bio span {
  font-variation-settings: 'wght' 200;
  font-style: italic;
}

/*---------PROJECTS/WORK SECTION---------*/
a {
  text-decoration: none;
  color: black;
  transition:0.3s;
}

a img {
  transition: 0.3s;
}

#work {
  margin: var(--page-margins);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-size);
}

#about {
  grid-column: span 6;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

#about a, #bio a {
  font-variation-settings: 'wght' 400;
  text-decoration: underline;
}

/* #work::after {
  content: "";
  width: calc(100%/3 - 16px);
} */

.project {
  grid-column: span 3;
}

.project_image {
  width: 100%;
  height: auto;
}

.project p {
  margin: 0;
}

.project_title {
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 8px 0 4px;
  font-variation-settings: 'wght' 600;
  transition: 0.3s;
}

.project_label {
  font-size: 1.0rem;
  line-height: 1.5rem;
  font-variation-settings: 'wght' 300;
  color: var(--tertiary-text);
}

/*---------PROJECT PAGES---------*/
#project_page {
  margin: var(--page-margins);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: var(--gap-size);
  align-items: start;
}

h1 {
  font-size: 2.4rem;
  grid-column: 3 / 5;
  margin: 0;
}

#project_info {
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-size);
  /* font-size: 1.2rem; */
}

.project_summary {
  grid-column: 2 / 5;
  font-size: 1.25rem;
  line-height: 2.25rem;
  color: var(--secondary-text);
  margin: 0;
  font-variation-settings: 'wght' 300;
}

.project_date, .project_link {
  display: block;
  font-size: 1rem;
  line-height: 2.25rem;
  margin: 0;
  color: var(--tertiary-text);
  font-variation-settings: 'wght' 300;
}

.project_link a {

  color: blue;
}

#project_supp_info {
  grid-column: 1;
  grid-row: 1;
}

.project_hero_image {
  width: 100%;
  grid-column: 2 / 6;
}

#project_context {
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: var(--gap-size);
}

.project_problem {
  grid-column: 1 / 3;
}

.project_audience {
  grid-column: 3 / 5;
}

h2 {
  font-size: 0.875rem; /* 14/16 = 0.875, as html font size is 16*/
  line-height: 1.5rem;
  font-variation-settings: 'wght' 800;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0;
}

.project_problem p, .project_audience p {
  font-size: 0.75rem; /* 12/16 = 0.75, as html font size is 16*/
  line-height: 1.5rem;
  color: var(--secondary-text);
}

#project_story {
  grid-column: 2 / 6;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: var(--gap-size);
  row-gap: calc(var(--gap-size)/2);
}

#project_story h2 {
  grid-column: 2 / 5;
}

.project_story_aside, .project_story_aside a {
  grid-column: 1 / 2;
  margin: 0;
  font-size: 0.75rem; /* 12/16 = 0.75, as html font size is 16*/
  line-height: 1.5rem;
  font-variation-settings: 'wght' 300;
  color: var(--tertiary-text);
}

.project_story_content {
  grid-column: 2 / 5;
  margin: 0;
  font-size: 1.25rem;
  line-height: 2.25rem;
  font-variation-settings: 'wght' 300;
  color: var(--secondary-text);
}

.project_story_image_large {
  width: 100%;
  grid-column: 1 / 7;
}

hr {
  width: 100vw;
  margin: 24px calc(-1*var(--page-margins));
  grid-column: 1 / 7;
  border: 0.5px solid #000;
}

/*--------------------------NEW STUFF ABOVE HERE--------------------------*/



/* #project_info p {
  font-size: 1.2rem;
  line-height: 1.6rem;
  font-variation-settings: 'wght' 300;
} */


/* #project_story {
  width: 100%;
  margin-top: 24px;
} */

/* #project_story h2, #project_story p {
  width: 60%;
  max-width: 840px;
  margin: 0 auto;
  background:green;
} */

/* h2 {
  font-size: 1.2rem;
  line-height: 3.2rem;
} */

/* #project_story p a, .two_column a {
  font-variation-settings: 'wght' 600;
  color: #0008D2;
  transition: 0.3s;
} */

.project_story_image, .project_story_image_link, .video_container, .project_story_header_p {
  width: 100%;
  grid-column: 2 / 6;
}

.project_story_header_p > p {
  font-size: 1.2rem;
  line-height: 2.0rem;
  font-weight: 300;
}

.project_story_image_link {
  padding: 0;
}

/* .project_story_header_p {
  width: 80%;
  display: block;
  margin: 24px auto;
} */

.video {
  width: 100%;
  height: 100%;
}

.two_column {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 24px 0;
  display: flex;
  /* flex-flow: row wrap; */
  align-items: center;
  column-gap: 48px;
  row-gap: 48px;
}

.two_column > * {
  width: calc(50% - 24px);
  font-size: 0.8rem;
  line-height: 1.4rem;
  margin: 0 auto;
}

.two_column > p {
  font-size: 0.8rem;
}

span.underline {
  text-decoration: underline;
}


/*---------BOTTOM NAV/FOOTER---------*/
#bottom_nav {
  width: 100%;
  grid-column: 1 / 7;
  justify-content: center;
  margin-bottom: 72px;
  text-align: center;
}

#bottom_nav a {
  font-size: 1.25rem;
  line-height: 2.5rem;
  margin: 24px;
  font-variation-settings: 'wght' 500;
  transition: 0.3s !important;
  display: inline-block;
}
}


/*---------1024PX---------*/
@media (max-width: 1024px) {
  body {
    /* width: calc(100vw - 96px);
    margin: 0 0 0 48px; */
  }

  /* .project {
    width: calc(100%/2 - 16px);
  } */

  .two_column {
    width: 100%;
    flex-flow: row wrap;
  }

  .two_column img {
    width: 80%;
  }

  .two_column p {
    width: 80%;
  }
}



/*---------640PX---------*/
@media screen and (max-width: 640px) {
  #bio p {
    grid-column: span 6;
  }

  h1 {
    grid-column: 1 / 7;
  }
  
  #project_info {
    display: block;
    grid-column: 1 / 7;
  }
  
  .project_summary {
    grid-column: 2 / 7;
  }

  #project_supp_info {
    margin-top: 2.4rem;
  }

  #project_context {
    display: block;
    grid-column: 1 / 7;
  }
  
  .project_audience {
    margin-top: 2.4rem
  }

  .project_story_image {
    grid-column: 1 / 7;
  }

  #project_story {
    display: block;
    grid-column: 1 / 7;
  }

  .project_story_aside {
    margin-top: 2.4rem;
  }

  .project_story_content {
    margin-top: 2.4rem;
  }

  #bottom_nav a {
    display: block;
  }

  .project {
    grid-column: span 6;
  } 


  /*---------------------------------NEW STUFF ABOVE HERE---------------------------------*/

 
  .navlinks {
    display:block;
    width: 100%;
    font-size: 1.0rem;
    font-variation-settings: 'wght' 600
  }

  li {
    margin-bottom: 16px;
  }

  #right_nav, .name {
    float: none;
    text-align: center;
  }

  .work, .about, .contact {
    font-variation-settings: 'wght' 400;
  }

  #project_story h2, #project_story p {
    width: 100%;
  }

  .project_story_image {
    width: 100%;
    margin: 0 auto;
    padding: 24px 0;
  }

  .project_story_image_link {
    padding: 0;
  }
}

a:hover, #about a:hover, #bio a:hover, a:hover p.project_title, #bottom_nav a:hover, #project_story p a:hover {
  font-variation-settings: 'wght' 800;
  transition: 0.3s;
}

#project_page a {
  text-decoration: underline;
}

.project:hover img {
  border-radius: 48px;
  transition: 0.3s;
}
